div.cname {
        background: #2ecc71;
        padding: 6px 10px;
        border-radius: 3px 4px 0 0;
        color: #FFF;
        font-family: tohama,droid sans,sans-serif;
}

div.cbot {
        background: #2ecc71;
        padding: 13px 10px;
        border-radius: 0 0 3px 3px;
}
