div.cname,div.fname {
        background: #2ecc71;
        padding: 15px 10px;
        border-radius: 3px 4px 0 0;
        color: #FFF;
        font-family: tohama,droid sans,sans-serif;
}

div.cbot,div.fbot {
        background: #2ecc71;
        padding: 20px 10px;
        border-radius: 0 0 3px 3px;
}

div#category > div#forum,
div#forumth > div#thread{
        background: #333;
        padding: 15px 10px;
        font-family: tohama,droid sans, sans-serif;
        color: #fff;
}

div#category > div#forum > span.right.statistics,
div#forumth > div#thread > span.right.statistics{float:right;}

a.postbit_button,input[type='submit'].postbit_button {
        background: #2ecc71;
        padding: 10px;
        border-radius: 2px;
        float: right;
        font-family: tohama,droid sans,sans-serif;
        border: 0;
}

textarea.fieldtext {
        background: #222;
        border: 1px solid #111;
        border-radius: 3px;
        padding: 6px 10px;
        font-family: tohama,droid sans,sans-serif;
        color: #FFF;
        font-size: 13px;
}

div.post {background:#222;padding: 10px 5px;}
div.inf, div.post {margin:0 auto 5px;}

div#post > div.inf > img.profava {border-radius:50%;height:100px;width:100px;}
